.ProjectCard {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column !important;
    border-radius: 50px;
    background-color: var(--cpn-bg-color);
    box-shadow: var(--cpn-shadow);
    height: 300px;
}

.ProjectCard h2, .ProjectCard p {
    color: var(--login-bg-color);
    margin: 0;
    text-align: center;
    box-shadow: var(--text-shadow);
    background-color: var(--text-bg-color);
    padding: 8px 15px;
    border-radius: 15px;
    width: 100%;
}

.ProjectCard h2 {
    overflow: scroll;
    height: 1em;
    white-space: nowrap;
}

.ProjectCard p {
    margin: 15px 0;
    height: 150px;
    overflow-y: scroll;
    text-align: start;
}

.Projects {
    width: 100vw;
    height: fit-content;
}