.Layout {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    height: fit-content;
    min-height: 100vh;
    background-color: var(--text-bg-color);
}

.LayoutPanel {
    box-shadow: var(--cpn-shadow);
    color: rgb(0, 0, 0);
    background-color: var(--cpn-bg-color);
    position: sticky;
    top: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    margin-bottom: 10px;
}

.LayoutPanel h3, .LayoutPanel p {
    color: var(--login-bg-color);
    margin: 0;
    text-align: center;
    display: flex;
    font-style: bold;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 8vw;
    box-shadow: var(--text-shadow);
    background-color: var(--text-bg-color);
    padding: 8px 15px;
    border-radius: 15px;
}

.LayoutPanel button {
    background-color: transparent;
    border: none;
    margin-right: 8vw; 
    color: var(--login-bg-color);
    box-shadow: var(--cpn-shadow);
    background-color: var(--text-bg-color);
    border-radius: 10px;
    padding: 4px 10px;
}

.LayoutPanel button:hover {
    cursor: pointer;
    transform: scale(1.25);
    transition: 0.15s;
}

.UserInfoBox {
    display: flex;
    flex-direction: row;
}

.UserInfoBox p {
    margin-right: 20px;
}