.LoginDiv {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LoginForm {
    height: 60vh;
    width: fit-content;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 50px;
    justify-content: center;
    background-color: var(--cpn-bg-color);
    box-shadow: var(--cpn-shadow);
}

.LoginForm input {
    box-shadow: var(--text-shadow);
    border-radius: 20px;
    border: none;
    padding: 10px;
    margin: 10px 0;
    margin-bottom: 40px;
    width: 250px;
    background-color: var(--text-bg-color);
}

.LoginForm input:focus {
    border: none;
    outline: none;
}

.LoginForm p {
    margin: 0;
    font-weight: 600;
}

.LoginForm button {
    align-items: center;
    box-shadow: var(--button-shadow);
    border-radius: 20px;
    border: none;
    display: flex;
    height: 200px;
    justify-content: center;
    width: 200px;
    background-color: var(--login-bg-color);
    height: fit-content;
    width: fit-content;
    padding: 15px 45px;
    margin-bottom: 40px;
}

.LoginForm button:hover {
    cursor: pointer;
    transform: scale(1.15);
    transition: 0.15s;
}

.LoginForm button p {
    margin: 0;
    font-weight: 500;
    color: white;
}

.LoginForm h1 {
    color: var(--login-bg-color);
    box-shadow: var(--text-shadow);
    background-color: var(--text-bg-color);
    border-radius: 20px;
    border: none;
    padding: 15px;
}